body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    border: red 2px solid;
    border-radius: 15px;
    width: 900px;
    margin: 20px auto;
    background-image:linear-gradient(#6394e2, #fff);

}
.hero-img{
    background-image: url('images/Toronto_Skyline.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    padding-top: 140px;
    
    }

h1 ,
h2 {
    color: black;
    
}